#breadcrumb-override {
    background: none;
}

.centerHeading {
    text-align: center;
}

#container_welcome {
    display: block;
}

.breadcrumb {
    margin: 0px 20px 40px 0px;
    /* float: right; */
    padding: 0px;
    border-radius: 0px;
    /* display: block; */
    vertical-align: middle;
    font-family: 'Fira Sans', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
}

.breadcrumb, .breadcrumb a,
.breadcrumb > .active {
    color: #000;
}

.breadcrumb > .active {
        font-weight: 1000;
}

.btn {
    margin-top: 6px;
}

.btn-control {
    margin-bottom: 20px;
}

/* possibly not needed class */
/* .button_divider {
    margin-bottom: 6px;
} */

.calculation-area {
    background-color: rgba(45, 87, 67, 0.096);
}

.content-container {
    display: none;
    margin: 40px 0px;
    /* border: 3px solid rgba(68, 87, 78, 0.671);
    border-radius: 10px;
    padding: 10px; */
}

.content-header {
    background-color: rgba(250, 239, 117, 0.322);
}

.jumbotron {
    background-image: url("/images/classroom.jpg");
    background-size: cover;
    height: 100%;
    color: white;
}

.label-spacer {
    margin-top: 6px;
}

.blue {
    color: #0084c2;
}

.orange {
    color: #ff9500;
}

.table-seperator {
    padding: 20px;
    margin: 10px;
    background-color: rgb(188, 201, 188);
}

.table th {
    text-align: center;
}

/* input {
    max-width: 300px;
} */

th.vampire_result {
    width: 100px;
}

.appliance_button_container, .vampire_btn_container {
    float: right;
}

#appliance_btn_add_row, #btn_calculate_appliance, #appliance_btn_reset,
#btn_calculate_vampire, #btn_reset_vampire {
    display: inline-block;
    margin: 10px;
}

table#appliance_summary_table {
    width:70%;
    margin: auto;
}
table#vampire_result_table {
    width:70%;
    margin: auto;
}

#vampire_re td input, #table_vampire td input {
    width: 100px;
}

#transportation_table td input {
    width: 100px;
}

table#transportation_table {
    width:70%;
    margin: auto;
}

table#transportation_results {
    width:70%;
    margin: auto;
}

#table_appliance td input {
    width: 75%;
}

#table_appliance_results td input {
    width: 100%;
}

td.appliance_name{
    width: 50px;
    padding: 5px
}

table#bottles_summary_table {
    width:70%;
    margin: auto;
}





